<div class="mat-typography mat-app-background app-frame"
     fxLayout="column"
     [ngClass]="themeClass">
  <mat-toolbar color="primary"
               class="app-toolbar">
    <button mat-icon-button
            (click)="sidepanel.toggleState()">
      <mat-icon>menu</mat-icon>
    </button>
    <span fxFlex>Title</span>
    <p *ngIf="identity.currentUser$ | async as user else loading">Hello {{user.username}}</p>
  </mat-toolbar>
  <div class="app-body mat-app-background"
       fxFlex
       fxFill
       fxLayout="row"
       fxLayoutAlign="start stretch">
    <sidepanel></sidepanel>
    <div fxFlex
         class="app-panel">
      <router-outlet></router-outlet>
      <ng-template #loading>
        <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
      </ng-template>
    </div>
  </div>
</div>
