<div class="container">
    <mat-form-field>
        <input matInput placeholder="Find User" #search>
    </mat-form-field>
    <section *ngIf="debounce">
        <section *ngIf="service.searchUsers$ | async as users else loadingSearch">
            <section *ngIf="users.length > 0" fxLayout="row | wrap" fxLayoutAlign="start start" class="container">
                <div *ngFor="let u of users" fxLayout="column" fxLayoutAlign="start stretch" class="background card elevated">
                    <p class="mat-body-strong">{{u.displayName}}</p>
                    <section fxLayout="row" fxLayoutAlign="end end">                
                        <button mat-button color="accent" [disabled]="saving" (click)="addUser(u)">
                          <mat-icon>add_circle</mat-icon>  Add User
                        </button>
                    </section>
                </div>
            </section>
            <h3 *ngIf="!(users.length > 0)">No Users Found</h3>
        </section>
    </section>
    <ng-template #loadingSearch>
        <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
    </ng-template>
    <mat-toolbar>
        <span>Users</span>
        <button mat-button (click)="showUserBin()">
          <mat-icon>delete</mat-icon> Recycle Bin
        </button>
    </mat-toolbar>
    <search-container [service]="service">
        <div *ngIf="service.sourceUsers$ | async as users" class="container" fxLayout="row | wrap" fxLayoutAlign="start start">
            <div *ngFor="let u of users" class="background card elevated" fxLayout="column" fxLayoutAlign="start stretch">
              <p class="mat-body-strong">{{u.username}}</p>
              <section fxLayout="row" fxLayoutAlign="center center">
                <mat-slide-toggle [checked]="u.isAdmin" (change)="toggleIsAdmin(u)">Admin</mat-slide-toggle>
                <button mat-button color="warn" (click)="toggleUserDeleted(u)">Delete</button>
              </section>
            </div>
        </div>
    </search-container>
</div>
