<div class="mat-typography">
  <h2 mat-dialog-title>User Recycle Bin</h2>
  <div *ngIf="service.deletedUsers$ | async as users else loading">
    <div mat-dialog-content>
      <div *ngIf="users.length > 0" fxLayout="column" fxLayoutAlign="start stretch">
        <div *ngFor="let u of users" class="background glyphicon-credit-card elevated" fxLayout="row" fxLayoutAlign="start center">
          <p class="mat-body-strong" fxFlex>{{u.username}}</p>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
            </button>
          <mat-menu #menu="matMenu" [overlapTrigger]="false">
            <button mat-menu-item (click)="toggleUserDeleted(u)">
              <mat-icon>settings_backup_restore</mat-icon> Restore
            </button>
            </mat-menu>
        </div>
      </div>
      <h3 *ngIf="!(users.length > 0)">Recycle Bin is Empty</h3>
    </div>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close>Close</button>
    </div>
  </div>
  <ng-template #loading>
    <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
  </ng-template>
</div>
