<nav mat-tab-nav-bar>
  <a mat-tab-link routerLink="/admin/users" routerLinkActive="active">Users</a>
  <a mat-tab-link routerLink="/admin/sites" routerLinkActive="active">Sites</a>
  <a mat-tab-link routerLink="/admin/priorities" routerLinkActive="active">Priorities</a>
  <a mat-tab-link routerLink="/admin/item-categories" routerLinkActive="active">Item Categories</a>
  <a mat-tab-link routerLink="/admin/manufacturers" routerLinkActive="active">Manufacturers</a>
  <a mat-tab-link routerLink="/admin/vendors" routerLinkActive="active">Vendors</a>
  <a mat-tab-link routerLink="/admin/authorized-regulations" routerLinkActive="active">Authorized Regulations</a>
</nav>
<router-outlet></router-outlet>
