
.toolbar-buttons {
  margin-left: 15px;
}

.toolbar-buttons button,
.toolbar-buttons file-upload {
  margin-right: 8px;
}

.upload-container {
  padding: 2px;
}

.upload-card {
  margin: 4px;
  padding: 8px;
  min-width: 180px;
  text-align: center;
}
