<h1>this is the invetory page</h1>
<button mat-button color="warn" (click)="exportToExcel()">Generate Report</button>
<button mat-raised-button color="primary" *ngIf="service.fileUrl">
  <a href="{{service.fileUrl}}" download><mat-icon>cloud_download</mat-icon>&emsp;{{service.fileName}}</a>
</button>

<h1>UPLOAD</h1>

<file-upload (onSelected)="fileChange($event)"></file-upload>
<button mat-button color="warn" (click)="service.clearUploads()" >
  Clear
</button>
            
<div *ngIf="service.fileNames.value.length > 0" class="upload-container">
  <section class="upload-card mat-elevation-z2 card" *ngFor="let file of service.fileNames | async">
    <p>{{file}}</p>
  </section>
</div>

<div *ngIf="service.dataExcel$ | async as data">
  <div fxLayout="row | wrap" fxLayoutAlign="start start" class="container">
    <table class="table-container table-striped">
      <tr>
        <th>ID</th>
        <th>Justifications</th>
        <th>Subject</th>
        <th>Requirement</th>
        <th>Mission</th>
      </tr>
      <tr *ngFor="let d of data">
        <td>{{d.id}}</td>
        <td>{{d.justifications}}</td>
        <td>{{d.subject}}</td>
        <td>{{d.requirement}}</td>
        <td>{{d.mission}}</td>
      </tr>
    </table>
  </div>
</div>


